<mat-toolbar color="primary">
  <span>Трекер полезных привычек</span>
</mat-toolbar>

<div class="container">

  <mat-card
    class="habit-card"
    [class.main-habit]="habit.isMain"
    *ngFor="let habit of habits"
  >

    <div class="habit-header">

      <div class="title-wrapper">
        <input
          class="habit-title"
          [value]="habit.title"
          (change)="updateTitle(habit, $event)"
        />

        <span
          *ngIf="habit.isMain"
          class="main-badge"
        >
          основная
        </span>
      </div>

      <button
        *ngIf="!habit.isMain"
        class="delete-btn"
        (click)="removeHabit(habit)"
      >
        ✕
      </button>

    </div>

    <div class="grid">
      <div
        class="day"
        *ngFor="let d of weekDays"
        [class.done]="isDone(habit, d)"
        (click)="toggle(habit.id, d)"
      >
        {{ d.slice(8,10) }}.{{ d.slice(5,7) }}
      </div>
    </div>

  </mat-card>

  <mat-card class="add-card">
    <input
      placeholder="Дополнительная привычка"
      [(ngModel)]="newHabitTitle"
    />
    <button
      mat-raised-button
      color="primary"
      (click)="addHabit()"
    >
      Добавить
    </button>
  </mat-card>

</div>
